@model IEnumerable<Netflix_clone.Models.Series>

@{
    ViewData["Title"] = "GetAllSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllSeries</h1>

<p>
    <a asp-action="AddSeries">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrailerUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="UpdateSeries" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="GetSeriesById" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteSeries" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
